#myMap {
    display: none;
    position: fixed;
    background: red;
    top: 60px;
    left: 10px;
    bottom: 55px;
    right: 10px;
}
#closeMyMap {
    display: none;
    position: fixed;
    left: 10px;
    bottom: 10px;
    right: 10px;
}